<p>Welcome to Merkata <br> can put more stuff here</p>
<button class='openmap'>Explore</button>
<button onclick="location.href='/login';">Log In</button>
<button onclick="location.href='/register';">Sign Up</button>