<div id='overlay'></div>
<div id='map-pop'>
  <div id='closemap'>&#10005;</div>
  <a href='/guatemala'>
    <div id='dot'>
      <div id='dot-info'>
        Explore Guatemala
        <img src='/images/bgposter.png' style='width: 190px'>
      </div>
    </div>
  </a>
</div>