<div id='nav'>
  <button id='close-nav'>x</button>
  <div class='nav-item'> <a class='nav-link' href='/'>link1</a> </div>
  <div class='nav-item'> <a class='nav-link' href='/'>link2</a> </div>
  <div class='nav-item'> <a class='nav-link' href='/'>link3</a> </div>
</div>