<h3>Register</h3>
<form method="post" action="/signup">
  <ul>
    <li><input type="text" placeholder="First Name" name="first" required></li>
    <li><input type="text" placeholder="Last Name" name="last" required></li>
    <li><input type="text" placeholder="Email" name="email" required></li>
    <li><input type="password" placeholder="Password" name="password" required></li>
    <li><input name = 'signupbutton' type="submit" value="Sign Up"></li>
  </ul>
</form>