<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Merkata</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/scripts/fade.js" type="text/javascript"></script>
  <script src="/scripts/map.js" type="text/javascript"></script>
</head>

<body>
  <!--[if lt IE 9]>
  <script>
    document.createElement('video');
  </script>
  <![endif]-->
  <video playsinline autoplay muted loop id="bgvid">
    <source src="/video/bgvid.mp4" type="video/mp4">
  </video>
  <img id='mapicon' src='/images/mapicon.png'>
  <div id='overlay'></div>
  <div id='map-pop'>
    <div id='closemap'>&#10005;</div>
    <div id='dot'></div>
  </div>
  <div id='welcome'>
    <h1>Merkata</h1>
    {{#if auth}}
    <h2> u are logged in </h2>
    {{/if}}
    <p>Welcome to Merkata <br> can put more stuff here</p>
    <button>Explore</button>
    {{#if auth}}
    <form method="post" action="/logout">
      <input type="submit" value="logout">
    </form>
    {{else}}
    <form method="post" action="/signup">
      <ul>
        <li><input type="text" placeholder="First Name" name="first" required></li>
        <li><input type="text" placeholder="Last Name" name="last" required></li>
        <li><input type="text" placeholder="Email" name="email" required></li>
        <li><input type="password" placeholder="Password" name="password" required></li>
        <li><input name = 'signupbutton' type="submit" value="Sign Up"></li>
      </ul>
    </form>
    <form method="post" action="/login">
      <input type="text" placeholder="username" name="username" required>
      <input type="password" placeholder="Password" name="password" required>
      <input type="submit" value="login">
    </form>
    {{/if}}
  </div>
</body>

</html>